<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Bigbasket">
	<listeners>
		<listener class-name="com.bigbasket.utilities.Reporting" />
	</listeners>

	<test name="BigbasketApp Test">
		<parameter name="browser" value="chrome"/>
		<classes>
			<class name="com.bigbasket.testcases.TC_Bigbasket" />
		</classes>
	</test>
</suite>
